form#search {
  overflow: auto;
  margin-bottom: 10px;
}

form#search button[type="submit"] {
  position: relative;
  margin-top: 45px;
  background-color: transparent;
  border-radius: 7px;
  left: 90%;
font-family:'open sans';
 border: solid;
 border-color: #7ec7e8;
  
}

form#search input{

  width: 70%;
  position: relative;
  left: 7%;
  top: 15px;
}
#form-group{
  width: 50%;
  margin-top: 150px;
  margin-left: 10vh;
  height: 150px;
  padding: 20px;
  background-color: #c10a26;
}

