.dropbtn {
  /* background-color: #c10a26; */
  background-color: black;
  color: white;
  padding-left: 23px;
  padding-right: 23px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  left: 78vw;
  top: 10px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 75vw;
    top: 10vh;
  }
  
  /* Links inside the dropdown */
  .dropdown-content p,Link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
.dropdown-content p:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #7ec7e8;}

/* log in */

#postAd{

  
  position: absolute;
  right: 100px;
  top: 38px;
  color: black;
  background-color: #7ec7e8;
  border-radius: 6px;
  padding: 5px;
  
  }
#login{

  position: absolute;
  right: 200px;
  top: 40px;
  color:black
}

#logo{
  position: absolute;
  left: 60px;
  top: 5px;
  color: black;
  width: 100px;

}

/* Main page  */

#results{

  margin-top: 60px;
  margin-left: 170px;
}

#firstlook{
  height: 97vh;
  opacity:0.5;
  width:100%;
  opacity: 0.95;
  background-color: #ffd51f;}
 

#backimage{
  float:right

}

#backimage img{
  width: 300px;
  position: absolute;
  right: 7%;
  top: 25%;
}

#nothingsaved{
  background-color: #7ec7e8;
  color: white;
  width: 250px;
  padding-left: 6px;
  margin-left: 30%;
  font-family: 'open sans';
}


/* Adpost page */

#firstlookAd{
  background-color: #ffd51f;
}

/* Register */

#firstlookregister{

  background-image: linear-gradient(to bottom, rgb(247, 231, 87) 0%,rgba(212, 65, 65, 0.45) 100%),url(back3.jpg);
background-repeat: no-repeat;
background-size: cover;
}

/* myad page */
#firstlookmyad{


  background-color: #c10a26;
}

#myadcontainer{

  padding-top: 13%;
}


/* detail page */

#containerdetail{

clear: both;
padding-left: 3%;
padding-top: 5%;
padding-bottom: 10%;
}

