

#logo {
 
    position: absolute;
    left: 4%;
    top: 7%;
    color: white;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;

}

.dropbtn {
  /* background-color: #c10a26; */
  background-color: #8FA66D;
  color: white;
  padding-left: 23px;
  padding-right: 23px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  overflow: hidden;
  left: 78vw;
  top: 10px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
 
    position: absolute;
    right:0;
    top: 30px;
  width:30%; }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
   display: none; 
    position: absolute;
    background-color: transparent;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   left: -25%; 
    top: 8vh;
  }
  
  /* Links inside the dropdown */
  .dropdown-content p,Link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block
    ;
  }

  /* Change color of dropdown links on hover */
.dropdown-content p:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #7ec7e8;}

/* log in */

#postAd{

  
   position: absolute;
  top: 38px;
  right:0;
  color: black;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px;
  
  }
#login {

 position: absolute;
 right:0;
 top: 40px; 
  color: #fbf4f4;
  font-family: 'Poppins', sans-serif;
}

/* .dropdown{

  position: relative;
  right: 40px;
  top: 20px;
  color: #fbf4f4;
  font-family: 'Poppins', sans-serif;
} */

/* #logo{
  position: absolute;
  left: 60px;
  top: 5px;
  color: black;
  width: 100px;

} */

/* Main page  */

#results{

  margin-top: 60px;
  margin-left: 170px;
}

#firstlook{
  height: 97vh;
  opacity:0.5;
  width:100%;
  opacity: 0.95;
  /* background-color: #ffd51f; */
position:relative}
 

#backimage{
  float:right

}

#backimage img{
  width: 300px;
  position: absolute;
  right: 7%;
  top: 25%;
}

#nothingsaved{
  background-color: #7ec7e8;
  color: white;
  width: 250px;
  padding-left: 6px;
  margin-left: 30%;
  font-family: 'open sans';
}

#backcolor-left{
 z-index: -1;
 background-color: #3D820A;
 width: 70%;
 height:100%;
 position:absolute;
 right:0;

}

#backcolor-right{
 
 z-index: -1;
 background-color: #5F6873;
 width: 30%;
 height:100%;
 position:absolute;
}

#back-text{
  position: absolute;
  font-family: 'Poppins', sans-serif;
  width: 35%;
    left: 55%;
    top: 35%;
}

#back-text p{
  font-weight: bold;
    color: white;
    font-size: 3.2rem;
}
#back-animation p{
  z-index: -1;
    color: white;
    position: absolute;
    top: 40%;
    font-size: 5rem;
    opacity: 0.2;
    width: 60%;
    right:0;
    animation: animate 20s linear infinite;
}
@keyframes animate{
  100% { 
    transform: translateX(-200%);  
  }
  /* 0%{
    left:100%
  }
  100%{
    left:-85%
  } */
}
/* Adpost page */

#firstlookAd{
  background-color: #476969;
}

/* Register */

#firstlookregister{

  background-image: linear-gradient(to bottom, rgb(202, 184, 204,0.8) 0%,rgba(144, 158, 176, 0.45) 100%), url('bs3.jpg');
background-repeat: no-repeat;
background-size: cover;
}

/* myad page */
#firstlookmyad{

  background-image: linear-gradient(to bottom, rgb(50, 67, 89,0.8) 0%,rgba(150, 80, 91, 0.45) 100%), url('bs4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#myadcontainer{
  padding-top: 13%;
  margin-left: 10%;
  padding-bottom: 13%;
}


/* detail page */

#containerdetail{

clear: both;
padding-left: 3%;
padding-top: 5%;
padding-bottom: 10%;
}

