.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding-left: 23px;
    padding-right: 23px;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 700;
    height: 60px;
    justify-content: center;
    overflow: hidden;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content p,Link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
.dropdown-content p:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* log in */

#postAd{

  
  position: absolute;
  right: 100px;
  top: 40px;
  color:black
  
  }
#login{

  position: absolute;
  right: 200px;
  top: 40px;
  color:black
}

#logo{
  position: absolute;
  left: 100px;
  top: 40px;
  color:black
}

/* Main page  */



#results{

  margin-top: 85vh;
}

#firstlook{
  height: 97vh;
  opacity:0.5;
  width:100%;
  opacity: 0.95;
  background-color: #ffd51f;}
  /* background: linear-gradient(0deg,rgba(191, 255, 0, 0.25),rgba(255,0,150,0.3)); */


#backimage{
  float:right

}

#backimage img{
  width: 300px;
  position: absolute;
  right: 7%;
  top: 25%;
}

